</main>
	
<footer>
	<p>&copy;{{ dateFormat "2006" now }} {{ .Site.Title }}</p>
    {{ with .Site.Params.links.twitter }}
        <a href="{{ . }}">twitter</a>
    {{ end }}
    {{ with .Site.Params.links.twitch }}
        <a href="{{ . }}">twitch</a>
    {{ end }}
    {{ with .Site.Params.links.tumblr }}
        <a href="{{ . }}">tumblr</a>
    {{ end }}
    {{ with .Site.Params.links.email }}
        <a href="{{ . }}">email</a>
    {{ end }}
    {{ with .Site.Params.links.kofi }}
        <a href="{{ . }}">ko-fi</a>
    {{ end }}
    {{ with .Site.Params.links.github }}
        <a href="{{ . }}">github</a>
    {{ end }}
</footer>
</div>
</body>
</html>
