{{ partial "header.html" . }}

<article>
  <h1>{{ .Title }}</h1> 
    <p>{{.WordCount}} words | {{ .ReadingTime }} minute read</p>
  
  <section id="content">
    {{ if (gt .WordCount 400 ) }}
      {{ .TableOfContents }}
    {{ end }}

    {{ .Content }}
  </section> 

  <!-- styles are set in footer.css -->
  <div id="blog-footer">
  <!-- TODO: should move this into a partial soon -->
    {{ with .GetTerms "tags" }}
      <ul id="tags">
        {{ range . }}
          <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
        {{ end }}
      </ul>
    {{ end }}
    
    {{ with .GetTerms "categories" }}
      <span id="series"> 
        this post is part of a series on {{ range . -}} <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>{{ end }}
      </span>
    {{ end }}
  </div>

</article>

{{ partial "footer.html" . }}
