<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />

	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#f0e2e2" />

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <a href="https://a.sapphic.online/@amelie" rel="me"></a>

  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/twitter_cards.html" . }}

 	<title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>

  <style>
    .hidden {
      opacity: 0;
    }

    .visible {
      opacity: 1;
      transition: opacity 1s ease-out;
    }
 
@keyframes fadeIn {
  100% {
    display: none;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
  </style>
</head>

<body>
  <script>
    document.body.className = 'hidden';
    window.addEventListener('load', function () {
      document.body.className = 'visible';
    });
  </script>
 <div class="wrapper">
    <a href="/">
      <div class="header" style="background-image: url('{{ .Site.Params.logo }}'), 
      {{ if isset .Params "images" }}
        url('{{ (index .Params.images 0) }}');
      {{ else }}
        url('{{ .Site.Params.header }}');
      {{end}}
      "></div>
    </a>

  {{ partial "nav.html" . }}

  <main class="content">
